In [ ]:
#Which hosts are the busiest and why?
#How many neighborhood groups are available and which shows up the most?
#Are private rooms the most popular in manhattan?
#Which hosts are the busiest and based on their reviews?
#Which neighorhood group has the highest average price?
#Which neighborhood group has the highest total price?
#Which top 5 hosts have the highest total price?
#Who currently has no (zero) availability with a review count of 100 or more?
#What host has the highest total of prices and where are they located?
#When did Danielle from Queens last receive a review?

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
NYC_AB = pd.read_csv('AB_NYC_2019.csv.zip')
NYC_AB.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [23]:
NYC_AB.drop(['id', 'latitude', 'longitude', 'calculated_host_listings_count'], axis = 1, inplace = True)
NYC_AB.head()

KeyError: "['id' 'latitude' 'longitude' 'calculated_host_listings_count'] not found in axis"

In [6]:
NYC_AB.sort_values(by='price',axis=0, ascending = True, inplace=True, kind='quicksort', na_position='last')
NYC_AB

,name,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,availability_365
25796,Cozy yet spacious private brownstone bedroom,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,Private room,0,1,95,2019-06-23,4.35,222
25634,"MARTIAL LOFT 3: REDEMPTION (upstairs, 2nd room)",15787004,Martial Loft,Brooklyn,Bushwick,Private room,0,2,16,2019-05-18,0.71,0
25433,★Hostel Style Room | Ideal Traveling Buddies★,131697576,Anisha,Bronx,East Morrisania,Private room,0,2,55,2019-06-24,2.56,127
25753,"Sunny, Quiet Room in Greenpoint",1641537,Lauren,Brooklyn,Greenpoint,Private room,0,2,12,2017-10-27,0.53,0
23161,"Huge Brooklyn Brownstone Living, Close to it all.",8993084,Kimberly,Brooklyn,Bedford-Stuyvesant,Private room,0,4,1,2018-01-06,0.05,28
...,...,...,...,...,...,...,...,...,...,...,...,...
40433,2br - The Heart of NYC: Manhattans Lower East ...,4382127,Matt,Manhattan,Lower East Side,Entire home/apt,9999,30,0,NaN,NaN,365
12342,"Quiet, Clean, Lit @ LES & Chinatown",3906464,Amy,Manhattan,Lower East Side,Private room,9999,99,6,2016-01-01,0.14,83
17692,Luxury 1 bedroom apt. -stunning Manhattan views,5143901,Erin,Brooklyn,Greenpoint,Entire home/apt,10000,5,5,2017-07-27,0.16,0
9151,Furnished room in Astoria apartment,20582832,Kathrine,Queens,Astoria,Private room,10000,100,2,2016-02-13,0.04,0
29238,1-BR Lincoln Center,72390391,Jelena,Manhattan,Upper West Side,Entire home/apt,10000,30,0,NaN,NaN,83

In [7]:
# How many neighborhood groups are available and which shows up the most?
NYC_AB.groupby('neighbourhood_group').neighbourhood_group.count().sort_values(ascending=False)

neighbourhood_group
Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64

In [8]:
# How many neighborhood groups are available and which shows up the most?
NYC_AB.neighbourhood_group.value_counts().nlargest(1)

Manhattan    21661
Name: neighbourhood_group, dtype: int64

In [9]:
# Are private rooms the most popular in manhattan?
NYC_AB.query('neighbourhood_group == "Manhattan"').room_type.value_counts().nlargest(5)

Entire home/apt    13199
Private room        7982
Shared room          480
Name: room_type, dtype: int64

In [10]:
NYC_AB.groupby('room_type')['room_type'].count()

room_type
Entire home/apt    25409
Private room       22326
Shared room         1160
Name: room_type, dtype: int64

In [11]:
# Which hosts are the busiest based on their reviews?
NYC_AB.groupby('host_name').number_of_reviews.sum().nlargest(10)

host_name
Michael    11081
David       8103
John        7223
Jason       6522
Alex        6204
Chris       5028
Anna        4799
Eric        4733
Daniel      4723
Sarah       4579
Name: number_of_reviews, dtype: int64

In [12]:
NYC_AB.host_name.value_counts()

Michael         417
David           403
Sonder (NYC)    327
John            294
Alex            279
               ...
Azarii            1
Jazmine           1
Nicholas P        1
Gian Marco        1
Isidro            1
Name: host_name, Length: 11452, dtype: int64

In [13]:
#Which neighorhood group has the highest average price?
neghb_group_highest_avg = NYC_AB.groupby('neighbourhood_group').price.mean().nlargest()
neghb_group_highest_avg

neighbourhood_group
Manhattan        196.875814
Brooklyn         124.383207
Staten Island    114.812332
Queens            99.517649
Bronx             87.496792
Name: price, dtype: float64

In [14]:
# Which neighbor hood group has the highest total price?
neghb_group_highest_total = NYC_AB.groupby('neighbourhood_group').price.max().nlargest()
neghb_group_highest_total

neighbourhood_group
Brooklyn         10000
Manhattan        10000
Queens           10000
Staten Island     5000
Bronx             2500
Name: price, dtype: int64

In [15]:
#Which top 5 hosts have the highest total price?
top5_hosts_high_total_price = NYC_AB.groupby('host_name')['price'].sum().nlargest(5)
top5_hosts_high_total_price

host_name
Sonder (NYC)    82795
Blueground      70331
Michael         66895
David           65844
Alex            52563
Name: price, dtype: int64

In [16]:
# Who currently has no (zero) availability with a review count of 100 or more?
tophost_rev100_0avail = NYC_AB.query('number_of_reviews >= 100 and availability_365 == 0')
tophost_rev100_0avail

,name,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,availability_365
14779,Bright sunny room in NYC!,116382,Anthony,Brooklyn,Crown Heights,Private room,29,2,142,2019-05-19,3.54,0
20916,NYC NEW YEARS EVE - LUXURY CRASH PAD!,35998113,Jo & Savannah,Brooklyn,Bedford-Stuyvesant,Shared room,31,4,114,2018-10-11,3.72,0
19224,Beautiful Large Room,92195100,Airamis,Bronx,Bronxdale,Private room,35,1,114,2018-10-09,3.48,0
21834,Quite and comfortable shared room in UES,94100043,Mohamed,Manhattan,Upper East Side,Shared room,35,1,118,2019-01-03,4.21,0
21835,Quite relaxing convenient shared room in UES.,94100043,Mohamed,Manhattan,Upper East Side,Shared room,35,1,115,2019-01-01,4.06,0
...,...,...,...,...,...,...,...,...,...,...,...,...
890,"Luxury Williamsburg, Brooklyn LOFT",1649300,James,Brooklyn,Williamsburg,Entire home/apt,325,2,320,2019-07-07,3.60,0
6898,Luxury in Best Location,25404246,Stacey,Manhattan,Nolita,Entire home/apt,346,198,163,2018-11-21,2.96,0
23260,*Luxury 1 Bedrm Private Designer Home & Roofdeck*,3203397,Brian,Manhattan,West Village,Entire home/apt,350,1,105,2019-05-26,4.63,0
1630,LOVELY 2BR West Village Apt!,3880974,Neil & Katie,Manhattan,West Village,Entire home/apt,350,1,237,2018-09-16,2.96,0
813,Decorators 5-Star Flat West Village,1503831,Elle,Manhattan,West Village,Entire home/apt,450,20,157,2016-08-11,1.71,0

In [17]:
# What host has the highest total of prices and where are they located?
host_high_price = NYC_AB.groupby(['host_name','neighbourhood']).price.sum().nlargest(1)
host_high_price

host_name     neighbourhood
Sonder (NYC)  Financial District    57738
Name: price, dtype: int64

In [18]:
sonder = NYC_AB.query('host_name == "Sonder (NYC)"')
sonder

,name,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,availability_365
44179,Sonder | 116 John | Laid-Back Studio + Gym,219517861,Sonder (NYC),Manhattan,Financial District,Entire home/apt,100,29,0,NaN,NaN,325
45934,Sonder | 116 John | Comfortable Studio + Gym,219517861,Sonder (NYC),Manhattan,Financial District,Entire home/apt,100,29,0,NaN,NaN,333
45933,Sonder | 116 John | Quaint Studio + Gym,219517861,Sonder (NYC),Manhattan,Financial District,Entire home/apt,100,29,0,NaN,NaN,347
45932,Sonder | 116 John | Sleek Studio + Gym,219517861,Sonder (NYC),Manhattan,Financial District,Entire home/apt,100,29,0,NaN,NaN,326
44554,Sonder | 116 John | Relaxed Studio + Gym,219517861,Sonder (NYC),Manhattan,Financial District,Entire home/apt,100,29,0,NaN,NaN,351
...,...,...,...,...,...,...,...,...,...,...,...,...
47821,Sonder | 116 John | Simple Studio + Gym,219517861,Sonder (NYC),Manhattan,Financial District,Entire home/apt,699,29,0,NaN,NaN,341
44590,Lovely Studio in FiDi by Sonder,219517861,Sonder (NYC),Manhattan,Financial District,Entire home/apt,699,29,0,NaN,NaN,333
44587,Superior 1BR in FiDi by Sonder,219517861,Sonder (NYC),Manhattan,Financial District,Entire home/apt,699,29,0,NaN,NaN,337
44326,Sonder | The Biltmore | 1BR,219517861,Sonder (NYC),Manhattan,Theater District,Entire home/apt,699,29,0,NaN,NaN,365
44345,Sonder | The Biltmore | Spacious 1BR + Kitchen,219517861,Sonder (NYC),Manhattan,Theater District,Entire home/apt,699,29,0,NaN,NaN,332

In [19]:
# When did Danielle from Queens last receive a review?
danielle_last_review = NYC_AB.query('host_name == "Danielle" and neighbourhood_group == "Queens"').sort_values('last_review', ascending=False)
danielle_last_review.head(1)

,name,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,availability_365
22469,Cute Tiny Room Family Home by LGA NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,Private room,48,1,436,2019-07-08,16.03,337